.matched {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/images/dog.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
