.frame {
  background: rgb(252,92,92);
  background: radial-gradient(circle, rgba(252,92,92,1) 47%, rgba(252,60,131,1) 100%);
  font-family: GothamRounded-Medium;
  font-size: 20px;
  padding: 5px;
}
