.home-view {
  height: 90vh;
  margin-top: 1rem;
} 

.choose-view{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reactions-home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches-list{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


