.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eecf96;
  width: 100wv;
  height: 10vh;
}

.nav a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 600;
}

.App {
  text-align: center;
}
