.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eecf96;
  width: 100vw;
  height: 10vh;
}

.nav a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 600;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:90vh;
}

.logoOfLove {
  width: 50px;
}



/*
Logo colors
#fc5c5c
#fc3c83
#fc4474
#fc605c
#fc4c74


*/