@font-face {
  font-family: "GothamRounded-Medium";
  src: local("GothamRounded-Medium"),
    url("./assets/fonts/GothamRounded-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GothamRounded-Light";
  src: local("GothamRounded-Light"),
    url("./assets/fonts/GothamRounded-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GothamRounded-Bold";
  src: local("GothamRounded-Bold"),
    url("./assets/fonts/GothamRounded-Bold.woff2") format("woff2");
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fce8c5;
  width: 100vw;
  height: 10vh;
}

.nav a {
  text-decoration: none;
  font-family: GothamRounded-Medium;
  color: black;
  font-weight: 600;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  /*   margin-bottom: 15px; */
}

.logoOfLove {
  width: 50px;
}

/*
Logo colors
#fc5c5c
#fc3c83
#fc4474
#fc605c
#fc4c74


*/
