.profile{
    background: rgba(252, 92, 92, 0.795);
background: linear-gradient(90deg, rgba(252, 92, 92, 0.733) 0%, rgba(252, 60, 130, 0.774) 100%);
    width:600px;
    text-align: center;
    font-family: GothamRounded-Light;
}

.profile-image{
    border-radius: 50%;
    width: 200px;
}